/* ============================================== */
/*========= variables =========== */
/* ============================================== */

//== common color variables
$primary-color: #263f61;
$secondary-color: #c4102d;
$success-color: #198754;
$info-color: #007cba;
$warning-color: #ff8300;
$danger-color: #dc3545;
$light-color: rgba(248, 249, 250, 1);
$dark-color: #000000;
$white-color: #fff;



