/* ============================================== */
/*========= variables =========== */
/* ============================================== */

//== common color variables
$primary: #001e61;
$secondary: #9ea1a2;
$success: #198754;
$info: #007cba;
$warning: #ff8300;
$danger: #dc3545;
$light: rgba(248, 249, 250, 1);
$dark: #000000;
$white: #fff;



