<!-- forgot-password component -->
<section class="container-fluid forgot-password-section py-5 px-3">    
    <div class="row d-flex justify-content-center">
        <div class="col-xxl-8 col-xl-10 col-lg-11 col-md-8 col-11 shadow-sm border">
            <div class="row">
                <!-- form section column -->
                <div class="col-lg-6 col-sm-12 mx-auto col-12 bg-white rounded-0 rounded-start">
                    <div class="row h-100">
                        <div
                            class="col-xxl-7 col-xl-8 col-lg-10 col-sm-10 col-11 mx-auto py-5 d-flex flex-column justify-content-center">
                            <!-- logo -->
                            <div class="pb-5 d-flex align-items-center justify-content-center">
                               <img src="/assets/images/IndiaBookStoreLogo.png" alt="IndiaBookStoreLogo">
                            </div>
                            <!-- /logo -->
                            <!-- form -->
                            <form class="forgot-password-form">
                                <div class="w-100 mt-4">
                                    <label for="email" class="small">Email</label>
                                    <div class="position-relative">
                                        <input type="email" id="email" name="email" placeholder="Ibs@gmail.com"
                                            class="py-2 mt-1 rounded-1 w-100 shadow-sm form-control">                                          
                                    </div>
                                </div>                               
                                <button type="submit"
                                    class="btn btn-primary shadow mt-4 me-3 px-md-5 px-3 py-2 w-100 rounded-1">Submit</button>
                                    <div class="mt-3 text-center">
                                        <a routerLink="/login" class="fw-medium small text-primary text-decoration-none">Have account to login?</a>
                                    </div>
                            </form>
                            <!-- /form -->
                        </div>
                    </div>
                </div>
                <!-- /form section column -->
                <!-- welcome section column -->
                <div
                    class="col-lg-6 col-md-6 col-sm-7 py-5 bg-primary text-white rounded-0 rounded-end d-none d-lg-block">
                    <div class="row h-100 d-flex justify-content-center align-items-center">
                        <div class="col-10">
                            <h1 class="fw-bold mb-0 mb-4">Welcome to Our Community</h1>
                            <p class="my-4">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Facilis
                                aliquam nihil quasi. Ex vitae error, veritatis optio blanditiis est tenetur iusto
                                tempore ut omnis, cum vel earum ullam possimus molestiae.</p>
                            <!-- profile stories -->
                            <div class="row my-4 d-flex align-items-center">
                                <div
                                    class="col-xl-3 col-12 d-flex align-items-center justify-content-xl-center justify-content-start my-4 my-xl-0">
                                    <div
                                        class="ms-n2 border border-2 border-primary rounded-circle shadow">
                                        <img src="/assets/images/profile-1.png" alt="profile" width="30"
                                            height="30" class="rounded-circle">
                                    </div>

                                    <div
                                        class="ms-n2 border border-2 border-primary rounded-circle shadow">
                                        <img src="/assets/images/profile-2.png" alt="profile" width="30"
                                            height="30" class="rounded-circle">
                                    </div>

                                    <div
                                        class="ms-n2 border border-2 border-primary rounded-circle shadow">
                                        <img src="/assets/images/profile-3.png" alt="profile" width="30"
                                            height="30" class="rounded-circle">
                                    </div>

                                    <div
                                        class="ms-n2 border border-2 border-primary rounded-circle shadow">
                                        <img src="/assets/images/profile-1.png" alt="profile" width="30"
                                            height="30" class="rounded-circle">
                                    </div>
                                </div>
                                <div class="col-xl-9 col-12 p-0">
                                    <div class="small text-white text-opacity-75">
                                        4k+ users have joined us, now it's your turn.
                                    </div>
                                </div>
                            </div>
                            <!-- /profile stories -->
                            <!-- curved arrow icon -->
                            <img src="/assets/images/curved-arrow.png" class="curved-arrow position-relative mt-lg-5 mt-xl-0"
                                alt="arrow">
                            <!-- /curved arrow icon -->
                        </div>
                    </div>
                </div>
                <!-- /welcome section column -->
            </div>
        </div>
    </div>    
</section>
<!-- /forgot-password component -->
