<section class="forgot-password container-fluid py-5">
    <div class="row">     
        <div class="col-12 d-flex justify-content-center align-items-center">
            <div>
            <img src="./assets/images/error_400.png" class="img-fluid" alt="">       
        </div> 
        <div>
            <div class="display-1 fw-bold text-primary">404</div>
            <div class="display-3 text-secondary">Oops!</div>
            <div class="h5 text-secondary">Page not Found.</div>               
        </div>
    </div>
    <div class="col-12 d-flex justify-content-center">
        <div>
            <a routerLink="/home" class="btn btn-primary shadow mt-3 rounded-1">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-left" viewBox="0 0 16 16">
                    <path fill-rule="evenodd" d="M15 8a.5.5 0 0 0-.5-.5H2.707l3.147-3.146a.5.5 0 1 0-.708-.708l-4 4a.5.5 0 0 0 0 .708l4 4a.5.5 0 0 0 .708-.708L2.707 8.5H14.5A.5.5 0 0 0 15 8z"/>
                  </svg>
                  <span class="ms-1">Back to previous</span>
                </a>
        </div>      
    </div>
</div>
</section>
